# Ignore node modules folder
node_modules/

# Ignore Lambda deployment package
lambda_package.zip

# Ignore Terraform local files
.terraform/

# Optional: Ignore environment variable files if any
.env

terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
crash.log
*.tfplan